<form action="/juego" method="post">
	<label>CODE FIGHTER</label></br>
	<div>
	JUGADOR 1<input type="input" name="txt_name_jugador1" value="HIRO">
	<select name="select_rol_jugador1">
		<option id="0" selected>Seleccione</option>
		<option id="ba">BA	</option>
		<option id="dev">DEV	</option>
		<option id="tester">TESTER	</option>
		<option id="sm">SCRUM MASTER	</option>
		<option id="po">PRODUCT OWNER	</option>
	</select>		
	</div>	
	<div>	
JUGADOR 2<input type="input" name="txt_name_jugador2" value="EDSON">

	<select name="select_rol_jugador2">
		<option id="0" selected>Seleccione</option>
		<option id="ba">BA	</option>
		<option id="dev">DEV	</option>
		<option id="tester">TESTER	</option>
		<option id="sm">SCRUM MASTER	</option>
		<option id="po">PRODUCT OWNER	</option>
	</select>		
	</div>	
	<input type="submit" value="jugar" >

</form>
