<!DOCTYPE html>
<body>
	<table>
		<tr>
			<td>VEGA</td>
			<td style="width: 70px; text-align: center;">vs.</td>
			<td>DE LA CRUZ</td>
		</tr>
		<tr>
			<td>BA</td>
			<td></td>
			<td>BA</td>
		</tr>
		<tr>
			<td><input type="button" value="Punete 1"/></td>
			<td></td>
			<td><input type="button" value="Punete 2"/></td>
		</tr>
		<tr>
			<td>Energia 1 <br/>Vida 1</td>
			<td></td>
			<td>Energia 2 <br/>Vida 2</td>
		</tr>
	</table>

</body>
