<!DOCTYPE html>
<body>
	<table>
		<tr>
			<td>VEGA</td>
			<td style="width: 70px; text-align: center;">vs.</td>
			<td>DE LA CRUZ</td>
		</tr>
		<tr>
			<td>BA</td>
			<td></td>
			<td>BA</td>
		</tr>
		<tr>
			<td><form action="/j1" method="POST">
					<input type="hidden" name="accion" value="punete" />
					<input type="submit" value="Punete 1"/>
				</form>
			</td>
			<td></td>
			<td><form action="/j2" method="POST">
					<input type="hidden" name="accion" value="punete" />
					<input type="submit" value="Punete 2"/>
				</form></td>
		</tr>


		<tr>
			<td><form action="/j1" method="POST">
					<input type="hidden" name="accion" value="patada" />
					<input type="submit" value="Patada 1"/>
				</form>
			</td>
			<td></td>
			<td><form action="/j2" method="POST">
					<input type="hidden" name="accion" value="patada" />
					<input type="submit" value="Patada 2"/>
				</form></td>
		</tr>


		<tr>
			<td><form action="/j1" method="POST">
					<input type="hidden" name="accion" value="energia" />
					<input type="submit" value="Energia 1"/>
				</form>
			</td>
			<td></td>
			<td><form action="/j2" method="POST">
					<input type="hidden" name="accion" value="energia" />
					<input type="submit" value="Energia 2"/>
				</form></td>
		</tr>

		<tr>
			<td>Energia 1: <%= @player_1_energy %><br/>Vida 1: <%= @player_1_score %></td>
			<td></td>
			<td>Energia 2: <%= @player_2_energy %><br/>Vida 2: <%= @player_2_score %></td>
		</tr>
	</table>

</body>
